extends layouts/main

block content
  .form-container
    form(action=`/videos${routes.editVideo}`, method='post')
      input(type='text', placeholder='Title', name='title')
      textarea( name='description' ) Description
      input(type='submit', value="Update Video")
    a.form-container__linnk(href=`/videos${routes.deleteVideo}`) Delete Video